* {
  box-sizing: border-box;
}

//Config
  $top-height: 100px;
  $bottom-height: 90px;
  $side-width: 300px;

//独自クラス
  // .flex { display: flex;}
  // .center { justify-content: center; }
  // .middle { align-items: center; }

//手順 (HTML側)
//  適当な文字
//  BEM (ローワーキャメルケース)
//    HTMLタグに依存しない
//  マークアップ

// 手順 (CSS側)
//   レイアウト
//     background-color
//     width、height
//     display
//     margin、padding
//       marigin 位置を決める (右の物体に指定する)
//       padding 箱の大きさ (border-boxも効く、相殺しない)
//   装飾 (color、font-size)




.wrapper {
  display: flex;
  justify-content: center;
}

.sideBar {
  width: $side-width;
  color: #fff;
  & a{
    color: #fff;
    text-decoration: none;
  }
  &__top {
    background-color: #253141;
    height: $top-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    &__name{
      font-size: 16px;
      font-weight: bold;
    }

  }
  &__content {
    background-color: #2f3e51;
    height: calc(100vh - #{$top-height});
    padding: 0 20px;
    &__group {
      padding: 20px 0 40px;
      &__name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__newMessage{
        font-size: 11px;
      }
    }

  }

}

.mainChat {
  width: calc(100% - #{$side-width});

  &__top {
    height: $top-height;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    &__left{
      &__groupName{
        margin: 35px 0 15px 0;
        font-size: 20px;
        color: #333;
      }
      &__memberName{
        font-size: 12px;
        color: #999;
      }
    }
    &__editBtn{
      width: 72px;
      height: 40px;
      border: 1px solid #38AEF0;
      display: flex;
      align-items: center;
      margin-top: 28px;
      padding: 0 20px;
      color: #38AEF0;
      font-size: 16px;
      text-decoration: none;
    }
  }
  &__content {
    background-color: #fafafa;
    height: calc(100vh - #{$top-height} - #{$bottom-height});
    padding: 46px 40px;
    overflow: scroll;

    &::-webkit-scrollbar {
      display:none;
    }

    &__message{
      margin-bottom: 46px;
      &__upper{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 12px;
        &__user{
          font-size: 16px;
          font-weight: bold;
          color: #333;
        }
        &__date{
          margin-left: 10px;
          font-size: 12px;
          color: #999;
        }
      }
      &__text{
        font-size: 14px;
        color: #434A54;
      }
    }
  }

  &__bottom {
    background-color: #d2d2d2;
    height: $bottom-height;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    &__inputBox{
      background-color: #fff;
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &__text{
        width: 100%;
        padding: 10px;
        border: none;
      }
      &__file{
        margin-right: 10px;
        cursor: pointer;
      }
      &__fileBtn{
        display: none;
      }
    }
    &__submitBtn{
      background-color: #38aef0;
      width: 100px;
      height: 50px;
      margin-left: 15px;
      color: #fff;
      cursor: pointer;
    }
  }

}


